name: Arun Chandrasekaran
description: Arun's random stuff
url: https://carun.github.io

plugins:
  - jekyll-feed

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
